.personal-details-wrap {
    background: url(/assets/images/Background1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: auto;
  }
  
  h1{
    margin-bottom: 118px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .personal-details {
    width: 90%;
    margin: auto;
    // margin-bottom: 6%;
  }
  
  .server-error{
    width: 320px;
  }

  input{
    width: 100%;
    border: none;
    outline: none;
  }

  .form-control{
    border: none;
  }

  .next{
    position: absolute;
    left: 0;
    right: 130%;
    bottom: 10px;

    button{
      padding: 0;
      border-radius: 3.25rem;
  
      img{
        width: 80px;
        height: 80px;
      }
    }

    .next-text{
      width: 80px;
      height: inherit;
      justify-content: center;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: #000000;
    }
  }

  .form-field{
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    background-color: white;
    margin-left: 14px;
    margin-bottom: 20px;
    width: 250px;
    height: 70px;

    label{
      min-width: fit-content;
      margin-bottom: 0;
      font-weight: 700;
    }
  }

  .tooltip-red{
    background: #b71c1c;
  }